If(db_id(N'TestData') IS NOT NULL)
BEGIN
  SET NOEXEC ON
END

CREATE DATABASE TestData
GO

USE TestData
GO

CREATE TABLE ProductTopVariant (
  [Id] int IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) NOT NULL,
  PRIMARY KEY ([Id])
)

SET IDENTITY_INSERT ProductTopVariant ON
INSERT INTO ProductTopVariant ([Id], [Name]) VALUES (1, N'Популярные')
INSERT INTO ProductTopVariant ([Id], [Name]) VALUES (2, N'Актуальные')
INSERT INTO ProductTopVariant ([Id], [Name]) VALUES (3, N'ТОП-5')
SET IDENTITY_INSERT ProductTopVariant OFF
GO

CREATE PROCEDURE GetProductTopVariant
AS
SELECT * FROM ProductTopVariant
GO

CREATE TABLE RoleVariant (
	[Id] int IDENTITY(1,1) NOT NULL,
	[Name] nvarchar(max) NOT NULL,
    PRIMARY KEY ([Id])
)
GO

SET IDENTITY_INSERT RoleVariant ON
INSERT INTO RoleVariant ([Id], [Name]) VALUES (1, N'Аналитик')
INSERT INTO RoleVariant ([Id], [Name]) VALUES (2, N'Менеджер')
INSERT INTO RoleVariant ([Id], [Name]) VALUES (3, N'Руководитель')
SET IDENTITY_INSERT RoleVariant OFF
GO


CREATE PROCEDURE GetRoleVariant
AS
  SELECT * FROM RoleVariant
GO

CREATE TABLE [Role] (
	[Id] int NOT NULL
)
GO


CREATE TYPE RoleType AS Table (
  Id INT
)
GO

CREATE PROCEDURE GetRole
AS
SELECT * FROM [Role]
GO

CREATE PROCEDURE SetRole (@roles AS RoleType READONLY)
AS
BEGIN
DELETE FROM [Role];
INSERT INTO [Role] SELECT * FROM @roles;
END
GO

DECLARE @RoleList as RoleType
INSERT INTO @RoleList VALUES (1)
INSERT INTO @RoleList VALUES (2)
EXEC SetRole @roles = @RoleList
GO


/****** Object:  Table [dbo].[Buy]    Script Date: 17.04.2018 11:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 17.04.2018 11:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NOT NULL,
	[Rank] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.04.2018 11:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Cost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buy] ON 

INSERT [dbo].[Buy] ([Id], [ClientId], [ProductId], [Date], [Count]) VALUES (1, 8, 4, CAST(N'2010-02-22T12:26:04.000' AS DateTime), 2)
INSERT [dbo].[Buy] ([Id], [ClientId], [ProductId], [Date], [Count]) VALUES (2, 38, 2, CAST(N'2012-01-15T15:51:40.000' AS DateTime), 1)
INSERT [dbo].[Buy] ([Id], [ClientId], [ProductId], [Date], [Count]) VALUES (3, 3, 4, CAST(N'2010-02-15T08:07:13.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Buy] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [Fio], [Rank]) VALUES (1, N'Иванов Иван Иванович', 2)
INSERT [dbo].[Client] ([Id], [Fio], [Rank]) VALUES (2, N'Валеев Геннадий Наумович', 50)
INSERT [dbo].[Client] ([Id], [Fio], [Rank]) VALUES (3, N'Рубцова Христина Трофимовна', 6)
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Cost]) VALUES (2, N'Товар 1', 255.0000)
INSERT [dbo].[Product] ([Id], [Name], [Cost]) VALUES (3, N'Товар 2', 10.0000)
INSERT [dbo].[Product] ([Id], [Name], [Cost]) VALUES (4, N'Товар 3', 60.0000)
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Buy] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_ClientId_Client_Id] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Buy] CHECK CONSTRAINT [FK_Buy_ClientId_Client_Id]
GO
ALTER TABLE [dbo].[Buy]  WITH CHECK ADD  CONSTRAINT [FK_Buy_ProductId_Product_Id] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Buy] CHECK CONSTRAINT [FK_Buy_ProductId_Product_Id]
GO
USE [master]
GO

SET NOEXEC OFF;